/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

&soft_off {
  hold-time-ms = <5000>; // Only turn off it the key is held for 5 seconds or longer.
};

/ {
  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick-tap-ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";

    horijontal {
      bindings = <&kp MINUS>;
      key-positions = <19 20>;
      layers = <0>;
    };

    equal {
      bindings = <&kp EQUAL>;
      key-positions = <31 32>;
      layers = <0>;
    };

    cmd {
      bindings = <&kp EXCLAMATION>;
      key-positions = <0 2>;
      layers = <0>;
    };

    macro {
      bindings = <&kp AT_SIGN>;
      key-positions = <2 3>;
      layers = <0>;
    };

    end {
      bindings = <&kp DOLLAR>;
      key-positions = <13 14>;
      layers = <0>;
    };

    match {
      bindings = <&kp PERCENT>;
      key-positions = <14 15>;
      layers = <0>;
    };

    start {
      bindings = <&kp CARET>;
      key-positions = <15 16>;
      layers = <0>;
    };

    exact {
      bindings = <&kp ASTERISK>;
      key-positions = <26 27>;
      layers = <0>;
    };

    delete {
      bindings = <&kp DELETE>;
      key-positions = <10 11>;
      layers = <0>;
    };
  };

  macros {
    zed_em_kay: zed_em_kay {
      compatible = "zmk,behavior-macro";
      label = "ZM_zed_em_kay";
      #binding-cells = <0>;
      bindings =
        <&macro_press>,
        <&kp LSHFT>,
        <&macro_tap>,
        <&kp Z &kp M &kp K>,
        <&macro_release>,
        <&kp LSHFT>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    Base {
      bindings = <
&kp ESC        &kp Q  &kp W  &kp E     &kp R      &kp T    &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BACKSPACE
&mt LCTRL TAB  &kp A  &kp S  &kp D     &kp F      &kp G    &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT      &kp Z  &kp X  &kp C     &kp V      &kp B    &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &mt RSHIFT GRAVE
                             &kp LGUI  &kp SPACE  &mo 2    &kp ENTER  &mo 1  &kp LALT
      >;

      label = "Base";
    };

    Raise {
      bindings = <
&trans  &kp COMMA     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans    &trans          &trans     &kp LPAR          &kp RPAR           &trans         &trans
&trans  &kp PERIOD    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans    &kp MINUS       &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PIPE       &trans
&trans  &kp NUMBER_0  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans    &kp UNDERSCORE  &kp PLUS   &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp BACKSLASH  &trans
                                    &trans        &trans        &mo 3     &trans          &trans     &trans
      >;

      label = "Raise";
    };

    Lower {
      bindings = <
&trans  &kp F1             &kp F2        &kp F3      &kp F4    &kp F5        &kp F6          &kp F7          &kp F8         &kp F9           &kp F10          &trans
&trans  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_PREV  &kp C_PP  &kp C_NEXT    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT_ARROW  &trans           &trans
&trans  &kp C_BRI_DN       &kp C_BRI_UP  &trans      &trans    &trans        &kp HOME        &kp PG_UP       &kp PAGE_DOWN  &kp END          &kp PRINTSCREEN  &trans
                                         &trans      &trans    &trans        &trans          &mo 3           &trans
      >;

      label = "Lower";
    };

    Adjust {
      bindings = <
&trans  &trans  &soft_off  &trans       &bt BT_CLR    &bt BT_SEL 0    &bt BT_SEL 3  &trans  &trans       &soft_off  &ext_power EP_OFF  &ext_power EP_ON
&trans  &trans  &trans     &trans       &out OUT_TOG  &bt BT_SEL 1    &bt BT_SEL 4  &trans  &trans       &trans     &trans             &trans
&trans  &trans  &trans     &trans       &trans        &bt BT_SEL 2    &trans        &trans  &trans       &trans     &trans             &trans
                           &bootloader  &trans        &trans          &trans        &trans  &bootloader
      >;

      label = "Adjust";
    };
  };

  conditional_layers { compatible = "zmk,conditional-layers"; };
};
